{extend name="template/base" /}
{block name='C'}
<!--header star-->
<header class="mui-bar mui-bar-nav" id="header">
    <a class="btn slide-menu" href="{:url('index/index')}">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <div class="top-sch-box flex-col">
        <div class="centerflex">
            <i class="fdj iconfont icon-sousuo"></i>
            <input type="text" name="formForm" id="" value="" reUrl="{:url('form/index')}" class="sch-txt" placeholder="输入您要搜索的商品"/>
        </div>
    </div>
</header>
<div class="warp clearfloat">
    <div class="lists clearfloat">
        <!--<div class="top clearfloat">-->
        <!--<ul>-->
        <!--<li>默认</li>-->
        <!--<li>价格<i class="iconfont icon-xiala"></i></li>-->
        <!--<li>销量<i class="iconfont icon-xiala"></i></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="bottom clearfloat">

        </div>
        <div class="empty"  style="text-align: center;padding: 3rem">
            <img src="__STATIC__/img/kecheng.png" alt="" style="width: 100%">
            <p>未匹配的课程</p>
        </div>
    </div>
</div>
<!--header end-->
<div id="form" ajaxUrl="{:url('form/getlist')}"></div>
{/block}
{block name='S'}

{/block}