<!--header star-->
<header class="mui-bar mui-bar-nav" id="header">
    <a class="btn slide-menu" href="#">
        <i class="iconfont icon-iconfontcaidan"></i>
    </a>
    <div class="top-sch-box flex-col">
        <div class="centerflex">
            <i class="fdj iconfont icon-sousuo"></i>
            <input type="text" name="" id="" value="" class="sch-txt" placeholder="输入您要搜索的商品" />
        </div>
    </div>
    <a class="btn" href="#">
        <i class="iconfont icon-erweima"></i>
    </a>
</header>
<!--header end-->