{extend name="template/base" /}
{block name='C'}
<!--header star-->
<header class="mui-bar mui-bar-nav" id="header">
    <a class="btn slide-menu" href="#">
        <i class="iconfont icon-iconfontcaidan"></i>
    </a>
    <div class="top-sch-box flex-col">
        <div class="centerflex">
                <i class="fdj iconfont icon-sousuo"></i>
                <input type="text" name="" id="" value="" reUrl="{:url('form/index')}" readonly class="sch-txt" placeholder="输入您要搜索的商品" _form/>
       </div>
    </div>
    <a class="btn" href="#">
        <i class="iconfont icon-erweima"></i>
    </a>
</header>
<!--header end-->


<!-- 侧边导航 -->
{include file='template/leftmenu' /}
<div id="main" class="clearfloat warp">
    <div class="mui-content">
        {include file='template/banner' /}
        <!--第一栏分类开始-->

        <!--第一栏分类结束-->
        <!--滚动公告开始-->
        <div class="notice clearfloat box-s">
            <p class="tit clearfloat fl">公告：</p>
            <div class="left fl clearfloat box-s">
                <div class="slider autoplay">
                    {volist name=":getlist('notice')" id='r'}
                     <div><a href="{:url('notice/detail',array('id'=>$r.id))}">{$r.title}</a></div>
                    {/volist}
                </div>
            </div>
            <a href="#" class="nmore clearfloat fr">更多</a>
        </div>
        <!--滚动公告结束-->
        <!--like star-->
        <div class="like clearfloat box-s">
            <div class="boutit clearfloat">
                <span></span>
                <samp>商品列表</samp>
            </div>
            <div class="content clearfloat">

            </div>
        </div>
        <!--like end-->
    </div>
</div>


<div id="ajax-url" data-ajax-url="{:url('index/Getlist')}" data-ajax-posid="1" data-ajax-action="goods"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/index.js?v={:time()}" type="text/javascript"></script>
{/block}