{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="申请人" name="userId" value="{$Request.param.userId}" >
        <div class="select-box" style="width:250px">
            <select name="level" class="select">
                <option value=""></option>
            </select>
        </div>
        <div class="select-box" style="width:250px">
            <select name="type" class="select">
                <option value=""></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="50">{:sort_by('ID','id')}</th>
            <th width="100">申请人</th>
            <th width="150">申请时间</th>
            <th width="50">申请等级</th>
            <th width="50">状态</th>
            <th width="100">备注</th>
            <th width="150">审核时间</th>
            <th width="200">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id}</td>
            <td>{:gettableval('user','realname',$vo.userId)}</td>
            <td>{$vo.createtiem ? date('Y-m-d H:i:s',$vo.createtiem) : '--'}</td>
            <td>{$vo.level}</td>
            <td>{$vo.type == 1 ?? '待审核'}</td>
            <td>{$vo.remarks ?? '--'}</td>
            <td>{$vo.uptime ?? '--'}</td>
            <td class="f-14">
                {tp:menu menu='sedit' /}
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}
{block name="script"}
<script>
    $(function () {
        $("[name='level']").find("[value='{$Request.param.level}']").attr("selected", true);
        $("[name='type']").find("[value='{$Request.param.type}']").attr("selected", true);
    })
</script>
{/block}

