{extend name="template/base" /}
{block name="content"}
<div class="page-container">
    <form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
        <input type="text" class="input-text" style="width:250px" placeholder="Id" name="id" value="{$Request.param.id}" >
        <input type="text" class="input-text" style="width:250px" placeholder="订单号" name="orderNo" value="{$Request.param.orderNo}" >
        <input type="text" class="input-text" style="width:250px" placeholder="用户" name="userId" value="{$Request.param.userId}" >
        <input type="text" class="input-text" style="width:250px" placeholder="创建时间" name="createTime" value="{$Request.param.createTime}" >
        <input type="text" class="input-text" style="width:250px" placeholder="支付状态" name="payType" value="{$Request.param.payType}" >
        <input type="text" class="input-text" style="width:250px" placeholder="订单状态" name="orderType" value="{$Request.param.orderType}" >
        <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </form>
    <div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <!--{tp:menu menu="add" /}-->
        </span>
        <span class="r pt-5 pr-5">
            共有数据 ：<strong>{$count ?? '0'}</strong> 条
        </span>
    </div>
    <table class="table table-border table-bordered table-hover table-bg mt-20">
        <thead>
        <tr class="text-c">
            <th width="25"><input type="checkbox"></th>
            <th width="">Id</th>
            <th width="">订单号</th>
            <th width="">用户</th>
            <th width="">购买总数量</th>
            <th width="">购买总金额</th>
            <th width="">创建时间</th>
            <th width="">支付状态</th>
            <th width="">订单状态</th>
            <th width="">快递单号</th>
            <th width="">用户备注</th>
            <th width="">发货时间</th>
            <th width="70">操作</th>
        </tr>
        </thead>
        <tbody>
        {volist name="list" id="vo"}
        <tr class="text-c">
            <td><input type="checkbox" name="id[]" value="{$vo.id}"></td>
            <td>{$vo.id|high_light=$Request.param.id}</td>
            <td>{$vo.orderNo|high_light=$Request.param.orderNo}</td>
            <td>{:gettableval('user','realname',$vo.userId)}</td>
            <td>{$vo.totalNum}</td>
            <td>{$vo.totalMoney}</td>
            <td>{$vo.createTime|high_light=$Request.param.createTime}</td>
            <td>{:authPay($vo.payType)}</td>
            <td>{:authOrder($vo.payType,$vo.orderType)}</td>
            <td>{$vo.kdNo ?? '--'}</td>
            <td>{:strlen($vo.remarks)> 0 ? $vo.remarks : '--'}</td>
            <td>{$vo.kdTime ?? '--'}</td>
            <td class="f-14">
                <!--{tp:menu menu='sedit' /}-->
                <a title="编辑" href="javascript:;" onclick="layer_open('发货','{:url(\'shop.order/edit\',array(\'id\'=>$vo.id))}')" style="text-decoration:none" class="ml-5">查看</a>
                {tp:menu menu='sdeleteforever' /}
            </td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <div class="page-bootstrap">{$page ?? ''}</div>
</div>
{/block}

