{extend name='template/base'}
{block name='C'}
<!--header star-->
<header class="mui-bar mui-bar-nav" id="header">
    <a class="btn" href="javascript:history.go(-1)">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <div class="top-sch-box top-sch-boxtwo flex-col">
        购物车
    </div>
    <!--<a class="btn" href="#">-->
        <!--<i class="iconfont icon-lajixiang"></i>-->
    <!--</a>-->
</header>
<!--header end-->

<div class="warp warptwo clearfloat">
    <div class="shopcar clearfloat">
       <div class="empty" hidden style="text-align: center;padding: 3rem">
           <img src="__STATIC__/img/kecheng.png" alt="" style="width: 100%">
          <p>购物车里还没商品</p>
       </div>
    </div>
</div>

<!--settlement star-->
<div class="settlement clearfloat">
    <div class="zuo clearfloat fl box-s">
        合计：<span id="totalprice">0</span>
    </div>
    <a href="#" class="fl db" _buyGoods>
        立即结算
    </a>
</div>
<!--settlement end-->
<div id="ajaxGetDateUrl" ajaxUrl="{$ajaxUrl}"></div>
<div id="ajaxBuyUrl" ajaxUrl="{$ajaxBuyUrl}"></div>
<div id="BuyUrl" ajaxUrl="{$BuyUrl}"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/shopcar.js?v={:time()}"></script>
{/block}