<form class="mb-20" method="get" action="{:\\think\\Url::build($Request.action)}">
    <input type="text" class="input-text" style="width:250px" placeholder="id" name="id" value="{$Request.param.id}" >
    <div class="select-box" style="width:250px">
        {:GetGoodsC($Request.param.id)}
    </div>
    <div class="select-box" style="width:250px">
        {:GetPos($Request.param.id)}
    </div>
    <input type="text" class="input-text" style="width:250px" placeholder="商品名" name="name" value="{$Request.param.name}" >
    <input type="text" class="input-text" style="width:250px" placeholder="积分" name="int" value="{$Request.param.int}" >
    <input type="text" class="input-text" style="width:250px" placeholder="库存" name="stock" value="{$Request.param.stock}" >
    <button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
</form>