{extend name="template/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__STATIC__/css/sku_style.css"/>
<style>
    .nochecked{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background: #F0F0F0;
        outline: none;
        -webkit-appearance: none;

    }

    .ischecked{
        width: 80px;
        height: 40px;
        border-radius: 5px;
        background: #96CDCD;
        outline: none;
        -webkit-appearance: none;

    }

    .attr_font{
        position: absolute;
        width:80px;
        height:40px;
        z-index: 1;
        top: -10px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btns{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        visibility: hidden;
    }
</style>
{/block}
{block name='nav'}{/block}
{block name="content"}
<div class="page-container">

    {if $classify}
    {foreach $classify as $k=>$v}
    <ul class="SKU_TYPE">
        <li is_required='0' propid="{$v['id']}" sku-type-name="{$v['name']}"  style="text-align: right;width:100px;overflow: hidden;white-space:nowrap">{$v['name']}：
        </li>
    </ul>
    <ul>
        {foreach $v['attrval'] as $kk=>$vv}
        <li><label style="position: relative;"><input type="checkbox" {if $vv['checked'] == 1} checked{/if}  class="sku_value nochecked" propvalid="{$vv['id']}"
            value="{$vv['name']}" /><div class="attr_font">{$vv['name']}</div></label></li>
        {/foreach}
    </ul>
    <div class="clear" style="height: 10px"></div>
    {/foreach}
    {else}

    请添加商品规格模板以及属性
    {/if}
    <div id="skuTable"></div>
</div>
<div class="btns">
    <div class="btn btn-success radius mr-5" onclick="yusuan()">保存</div>
    <div class="btn btn-danger radius mr-5" onclick="clearAllAttr()">清空</div>
</div>
{/block}
{block name='script'}
<script type="text/javascript" src="__STATIC__/js/createSkuTable.js?v={:time()}"></script>
<script type="text/javascript" src="__STATIC__/js/customSku.js?v={:time()}"></script>
<script type="text/javascript" src="__LIB__/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/js/getSetSkuVals.js?v={:time()}"></script>
<script>
    $(function () {
        var str = {$arr};
        var e = $('input[type=checkbox]:checked').length;
        alreadySetSkuVals = str;
        if(e>0){
            qw();
        }

        //判断当前input是否被选中
        var boxes = $('input[type=checkbox]');
        var has_item = false;
        for(var i = 0,ilen = boxes.length; i < ilen ;i++){
            if($(boxes[i]).is(':checked')){
                $(boxes[i]).attr('class','sku_value ischecked');
                has_item = true;
            }else{
                $(boxes[i]).attr('class','sku_value nochecked');
            }
        }

        if(has_item){
            $('.btns').css('visibility','visible');
        }


        $('input[type=checkbox]').click(function(){
            var boxes = $('input[type=checkbox]');
            var has_item = false;
            for(var i = 0,ilen = boxes.length; i < ilen ;i++){
                if($(boxes[i]).is(':checked')){
                    $(boxes[i]).attr('class','sku_value ischecked');
                    has_item = true;
                }else{
                    $(boxes[i]).attr('class','sku_value nochecked');
                }
            }

            if(has_item){
                $('.btns').css('visibility','visible');
                $('#skuTable').show();
            }else{
                $('.btns').css('visibility','hidden');
                $('#skuTable').hide();
            }
        });
    })

    function yusuan() {
        alreadySetSkuVals = {};
        getAlreadySetSkuVals();
        var len =  $("tr[class*='sku_table_tr']").length;
        var arr = Object.keys(alreadySetSkuVals);
        console.log(arr);
        if(arr.length>0){
            if(arr.length == len) {
                $.post("{:url('goods/setsession')}", {arr: alreadySetSkuVals}, function (data) {
                    if (data.state == 1) {
                        layer.msg(data.msg, {icon: 6, time: 1000});
                        setInterval(function () {
                            window.parent.setattr();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                            layer_close()
                        }, 1000)
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 1000});
                    }
                })
            }else{
                layer.msg('请填写价格或库存', {icon: 5, time: 1000});
            }

        }
    }

    function clearAllAttr() {
        postJSON("{:url('AddGoodsAttr/deletesession')}",{},function (data) {
            layer.msg(data.msg,{icon:6,time:1000});
            setInterval(function () {
                // window.parent.setattr();
                // var index = parent.layer.getFrameIndex(window.name);
                // parent.layer.close(index);
                // layer_close()
            },1000)
        })
    }
</script>
{/block}
