{extend name="template/base" /}
{block name='C'}
<header class="mui-bar mui-bar-nav report-header box-s" id="header">
    <a href="{:url('user/index')}"><i class="iconfont icon-fanhui fl"></i></a>
    <p>全部订单</p>
</header>
<div id="main" class="mui-clearfix">
    <div class="order-top clearfloat">
        <ul id="nav">
            <li class="clearfloat cur"><a href="javascript:;">全部</a></li>
            <li class="clearfloat"><a href="javascript:;">待付款</a></li>
            <li class="clearfloat"><a href="javascript:;">待发货</a></li>
            <li class="clearfloat"><a href="javascript:;">待收货</a></li>
            <li class="clearfloat"><a href="javascript:;">待评价</a></li>
        </ul>
    </div>
    <div class="main" hidden>
    </div>
    <div class="main" hidden>
    </div>
    <div class="main" hidden>
    </div>
    <div class="main" hidden>
    </div>
    <div class="main" hidden>
    </div>
</div>
<div id="ajaxGetList" ajaxUrl="{$action}"></div>
<div id="buyUrl" ajaxUrl="{:url('buy/pay')}"></div>
<div id="strUrl" ajaxUrl="{:url('order/str')}"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/order.js?v={:time()}"></script>
{/block}