{extend name="template/base" /}
{block name='C'}
<!--header star-->
<header class="mui-bar mui-bar-nav" id="header">
    <a class="btn" href="javascript:history.go(-1)">
        <i class="iconfont icon-fanhui"></i>
    </a>
    <div class="top-sch-box flex-col">
        <div class="centerflex">
            <i class="fdj iconfont icon-sousuo"></i>
            <input type="text" name="" id="" value="" reUrl="{:url('form/index')}" readonly class="sch-txt" placeholder="输入您要搜索的商品" _form/>
        </div>
    </div>
    <a class="btn" href="#">
        <i class="iconfont icon-gouwuche"></i>
        <span>0</span>
    </a>
</header>
<!--header end-->
<div class="warp clearfloat">
    <div class="lists clearfloat">
        <!--<div class="top clearfloat">-->
        <!--<ul>-->
        <!--<li>默认</li>-->
        <!--<li>价格<i class="iconfont icon-xiala"></i></li>-->
        <!--<li>销量<i class="iconfont icon-xiala"></i></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="bottom clearfloat">

        </div>
    </div>
</div>


<div id="ajax-url" data-ajax-url="{:url('category/Getlist')}" data-ajax-id="{$id}" data-ajax-action="goods"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/category.js?v={:time()}" type="text/javascript"></script>
{/block}