{extend name="template/base" /}
{block name='C'}
{include file='template/header' /}
<div class="warp clearfloat">
    <div class="lists clearfloat">
        <!--<div class="top clearfloat">-->
        <!--<ul>-->
        <!--<li>默认</li>-->
        <!--<li>价格<i class="iconfont icon-xiala"></i></li>-->
        <!--<li>销量<i class="iconfont icon-xiala"></i></li>-->
        <!--</ul>-->
        <!--</div>-->
        <div class="bottom clearfloat">

        </div>
    </div>
</div>


<div id="ajax-url" data-ajax-url="{:url('category/Getlist')}" data-ajax-id="{$id}" data-ajax-action="goods"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/category.js?v={:time()}" type="text/javascript"></script>
{/block}