{extend name='template/base'}
{block name='ST'}
<style>
    .wheel-scroll.wheel-scroll-hook {
        margin: 0;
        padding: 0;
    }
    .picker .picker-panel .picker-choose .confirm{
        right: -4.5rem!important;
    }
</style>

{/block}
{block name='C'}
<header class="mui-bar mui-bar-nav report-header box-s" id="header">
    <a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
    <p>添加新地址</p>
    <span class="fr baocun" _addressBaocun>保存</span>
</header>
<div id="main" class="mui-clearfix add-address">
    <div class="plist clearfloat data">
        <input type="hidden" name='id' value="{$vo.id ?? ''}">
        <ul>
            <li class="clearfloat">
                <a href="#">
                    <p class="fl">收货人</p>
                    <input type="text" class="fl shuru" name="realname" value="{$vo.realname ?? ''}" placeholder="收件人" />
                </a>
            </li>
            <li class="clearfloat">
                <a href="#">
                    <p class="fl">联系电话</p>
                    <input type="text" class="fl shuru" name="phone" value="{$vo.phone ?? ''}" placeholder="联系电话" />

                </a>
            </li>
            <li class="clearfloat">
                <a href="#">
                    <p class="fl">所在地区</p>
                    <input type="text" class="fl shuru" id="picker" name="address" readonly value="{$vo.address ?? ''}" placeholder="点击选择地区" />

                </a>
            </li>
        </ul>
    </div>
    <textarea name="addressshow" rows="4" cols="" placeholder="请填写详细地址，不少于5个字" class="textare box-s">{$vo.addressshow ?? ''}</textarea>
    <div class="address-btn clearfloat">
        <span class="szwmr fl">设为默认</span>
        <a href="#" class="toggle {if isset($vo)}{if $vo.type ==  1}toggle--off{else}toggle--on{/if}{else}toggle--on{/if} fr"></a>
    </div>
</div>


<div id="setAddress" ajaxUrl="{:url('user/addressadd')}"></div>
<div id="callUrl" ajaxUrl="{:url('user/address')}"></div>
<div id="editaddr" ajaxUrl="{:url('user/editAddress')}"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/sanji/picker.min.js?v={:time()}"></script>
<script src="__STATIC__/js/sanji/city.js?v={:time()}"></script>
<script src="__STATIC__/js/sanji/index.js?v={:time()}"></script>



<script>
    $(function () {
        $('.toggle').click(function(e){

            var toggle = this;

            e.preventDefault();

            $(toggle).toggleClass('toggle--on').toggleClass('toggle--off').addClass('toggle--moving');

            setTimeout(function(){
                $(toggle).removeClass('toggle--moving');
            }, 200)

        });
    })

</script>
{/block}
