{extend name='template/base'}
{block name='C'}
<header class="mui-bar mui-bar-nav report-header box-s" id="header">
    <a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
    <p>管理收货地址</p>
</header>
<div id="main" class="mui-clearfix contaniner">
<div class="listaddr"></div>

    <a href="{:url('user/addressadd')}" class="address-add fl">
        添加新地址
    </a>
</div>


<div id="getAddress" ajaxUrl="{$address}"></div>
<div id="editAddress" ajaxUrl="{$editAddress}"></div>
<div id="defUrl" ajaxUrl="{$defUrl}"></div>
{/block}
{block name='S'}
<script src="__STATIC__/js/addr.js?v={:time()}"></script>
{/block}